@font-face {
  font-family: Boots And Spurs;
  src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
.logo {
  font-family: "Boots And Spurs";
}
.logo {
  margin-left: 15px;
  font-size: 20px;
}

header {
  display: flex;
  align-items: center;
}

.product-list h2 {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  margin-left: 25px;
}

nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
}

nav li a {
  padding: 10px;
}

header,
footer {
  background-color: #202020;
  color: #ffffff;
}

/* Links */

a {
  text-decoration: none;
}

header a {
  color: #ffffff;
}

.cta {
  background-color: #bb0000;
  color: #ffffff;
  padding: 10px 80px;
  border-radius: 3px;
}

.cta-small {
  padding: 5px 30px;
}

.cta-sale {
  background-color: #127300;
}

.active {
  text-decoration: underline;
}

.reviews {
  background-color: #e8e8e8;
}

.featured--products {
  background-color: #fbfbfb;
}

footer {
  text-align: center;
}

/* Home Page */

.welcome {
  background-image: url("../media/home-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  position: relative;
  min-height: 95vh;
}

#welcome-content {
  position: absolute;
  left: 100px;
  top: 100px;
  text-align: center;
}

.selling-points {
  margin: 50px auto;
}

.selling-points,
.reviews-content {
  display: flex;
  max-width: 1000px;
}

.selling-points > *,
.reviews-content > * {
  flex: 1;
}

.selling-points_images {
  border-radius: 100px;
  width: 100%;
}

.reviews {
  text-align: center;
  padding: 50px;
}

.reviews-content {
  text-align: left;
  line-height: 150%;
  margin: auto;
}

.reviews-content div {
  margin: 50px;
}

.reviews-name {
  display: block;
  font-weight: bold;
}

.review_images {
  border-radius: 50%;
  width: 80px;
  float: right;
}

/* Contact Page */

input,
select,
textarea {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

/* Product Specific Page */

.product {
}
